sofa1/_html/index.html
<!DOCTYPE html>
<html>
  <head>
     <title>Интернет-магазин «Sofa Store»</title>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <!-- Bootstrap -->
     <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
     <!-- Styles -->
     <link href="css/mainstyles.css" rel="stylesheet" media="screen">
     <link href="orbit/orbit-1.2.3.css" rel="stylesheet" media="screen">
     <link href="css/bigslider.css" rel="stylesheet" media="screen">
  </head>
  
  <body>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!--<script src="orbit/jquery-1.5.1.min.js"></script>-->
    <script src="orbit/jquery.orbit-1.2.3.js"></script>
    <script type="text/javascript" src="http://scriptjava.net/source/scriptjava/scriptjava.js"></script>
    <script type="text/javascript" src="js/tabs.js"></script>
    <script type="text/javascript" src="js/bigslider.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
//            $("#featured").orbit({
//                animationSpeed: 800,
//                advanceSpeed: 4000,
//                startClockOnMouseOut: false,
//                startClockOnMouseOutAfter: 3000,
//                directionNav: true,
//                captions: true,
//                captionAnimationSpeed: 800,
//                timer: false,
//                bullets: false,
//                bulletsThumbs: true,
//                captionAnimation: 'fade'
//            });
              init_tabs();
              init_slider();
        });
    </script>
    <script type="text/javascript" src="js/tabs.js"></script>
    
        <header>
            <img class="logo" src="./imgs/logo.png">
            <div class="basket">
                <img class="basketimage" src="imgs/basket.png">
                <p class="baskettext">Корзина (545454 руб)</p>
            </div>
            <p class="phonenumber">+7 (495) 580-06-25</p>
            <nav class="mainmenu">            
                    <a href="index.html">Главная</a>
                    <a href="about_us.html">О нас</a>
                    <a href="services.html">Услуги</a>
                    <a href="catalog.html">Каталог</a>
                    <a href="delivery.html">Доставка</a>
                    <a href="sale.html">Акция</a>
                    <a href="for_designers.html">Дизайнерам</a>
                    <a class="last" href="contacts.html">Контакты</a>
            </nav>
        </header>
        <!--Top Slider-->
        <div class="container">
            <div class="leftblock">
<!--                <div class="topslider" id="featured">
                    <div class="sliderphotocontainer">
                        <img src="imgs/sliderphotos/palermo.jpg">
                        <div class="sliderphotodescr">
                            <p class="head">Кресло-шезлонг «Палермо»</p>
                            <p class="small">Удобное кресло для повседневного отдыха.<br> После трудного дня Вам придется как никогда кстати.</p>
                        </div>
                    </div>
                    <div class="sliderphotocontainer">
                        <img src="imgs/sliderphotos/abel.jpg">
                        <div class="sliderphotodescr">
                            <p class="head">Кресло «Абель»</p>
                            <p class="small">Удобное кресло для повседневного отдыха.<br> После трудного дня Вам придется как никогда кстати.</p>
                        </div>
                    </div>
                    <div class="sliderphotocontainer">
                        <img src="imgs/sliderphotos/isida.jpg">
                        <div class="sliderphotodescr">
                            <p class="head">Кресло «Абель»</p>
                            <p class="small">Удобное кресло для повседневного отдыха.<br> После трудного дня Вам придется как никогда кстати.</p>
                        </div>
                    </div>
                    <div class="sliderphotocontainer">
                        <img src="imgs/sliderphotos/colorful_chair.jpg">
                        <div class="sliderphotodescr">
                            <p class="head">Кресло «Абель»</p>
                            <p class="small">Удобное кресло для повседневного отдыха.<br> После трудного дня Вам придется как никогда кстати.</p>
                        </div>
                    </div>
                    <div class="sliderphotocontainer">
                        <img src="imgs/sliderphotos/monplaisir.jpg">
                        <div class="sliderphotodescr">
                            <p class="head">Кресло «Абель»</p>
                            <p class="small">Удобное кресло для повседневного отдыха.<br> После трудного дня Вам придется как никогда кстати.</p>
                        </div>
                    </div>
                    <div class="sliderphotocontainer">
                        <img src="imgs/sliderphotos/stools.jpg">
                        <div class="sliderphotodescr">
                            <p class="head">Кресло «Абель»</p>
                            <p class="small">Удобное кресло для повседневного отдыха.<br> После трудного дня Вам придется как никогда кстати.</p>
                        </div>
                    </div> 
                    <div style="background-image: url(imgs/sliderphotos/abel.jpg)"></div>
                    <img src="imgs/sliderphotos/abel.jpg">
                    <img src="imgs/sliderphotos/isida.jpg">
                    
                </div>-->
                <div id="slider1" class="slider">
                    <div class="slide_container">
                        <div class="slide">
                            <a href="/"><img src="imgs/sliderphotos/palermo.jpg"></a>
                            <!--<img src="imgs/sliderphotos/palermo.jpg">-->
                            <div class="description">
                                <p class="big">Кресло-шезлонг «Палермо»</p>
                                <p class="small">Удобное кресло для повседневного отдыха. После трудного дня Вам придется как никогда кстати.</p>
                            </div>
                        </div>
                        <div class="slide">
                            <a href="/"><img src="imgs/sliderphotos/isida.jpg"></a>
                            <div class="description">
                                <p class="big">Прямой диван «Исида»</p>
                                <p class="small">Удобный диван для повседневного отдыха и приёма гостей. После трудного дня Вам придется как никогда кстати.</p>
                            </div>
                        </div>
                        <div class="slide">
                            <a href="/"><img src="imgs/sliderphotos/abel.jpg"></a>
                            <div class="description">
                                <p class="big">Кресло «Абель»</p>
                                <p class="small">Удобное кресло для повседневного отдыха. После трудного дня Вам придется как никогда кстати.</p>
                            </div>
                        </div>
                    </div>
                    <div class="arrows">
                        <div class="arrow_left" onclick="on_arrow_click(this);"></div>
                        <div class="arrow_right" onclick="on_arrow_click(this);"></div>
                    </div>
                </div>
                <!-- ================= TABS ================== -->
            <div class="tab_module">
                <ul>
                    <li onclick="on_click_handler(this, 'all_sofas');">все<br>диваны</li>
                    <li onclick="on_click_handler(this, 'corner_sofas');">угловые<br>диваны</li>
                    <li onclick="on_click_handler(this, 'straight_sofas');">прямые<br>диваны</li>
                    <li onclick="on_click_handler(this, 'arc_sofas');" class="last">эркерные<br>диваны</li>
                    <li onclick="on_click_handler(this, 'arc_sofas');" class="last">модульные<br>диваны</li>
                    <li onclick="on_click_handler(this, 'arc_sofas');" class="last">студийные<br>диваны</li>
                    <li onclick="on_click_handler(this, 'arc_sofas');" class="last">кресла</li>
                    <li onclick="on_click_handler(this, 'arc_sofas');" class="last">кровати</li>
                    <li onclick="on_click_handler(this, 'arc_sofas');" class="last">стулья</li>
                    <li onclick="on_click_handler(this, 'arc_sofas');" class="last">пуфы</li>
                </ul>
                <div class="tab_content_box">
                    <div id="all_sofas" class="tab_content">
                        
                        <!-- ==================PHOTOS================= -->
                        <div class="photo">
                            <img src="imgs/sofas/isida.jpg">
                            <a href="">Исида, прямой диван</a>
                        </div>
                        <div class="photo">
                            <img src="imgs/sofas/mainardi.jpg">
                            <a href="">Майнарди, эркерный диван</a>
                        </div>
                        <div class="photo">
                            <img src="imgs/sofas/andr_mod.jpg">
                            <a href="">Андреас, модульный диван</a>
                        </div>
                        <div class="photo">
                            <img src="imgs/sofas/monp.jpg">
                            <a href="">Монплезир, эркерный диван</a>
                        </div>
                        <div class="photo">
                            <img src="imgs/sofas/landau.jpg">
                            <a href="">Ландау, угловой диван</a>
                        </div>
                        <div class="photo">
                            <img src="imgs/sofas/london.jpg">
                            <a href="">Лондон, угловой диван</a>
                        </div>
                        <div class="photo">
                            <img src="imgs/sofas/garlem.jpg">
                            <a href="">Гарлем, прямой диван</a>
                        </div>
                        <div class="photo">
                            <img src="imgs/sofas/chianti.jpg">
                            <a href="">Кьянти, прямой диван</a>
                        </div>
                        <div class="photo">
                            <img src="imgs/sofas/macbeth.jpg">
                            <a href="">Макбет, прямой диван</a>
                        </div>
                        <div class="photo">
                            <img src="imgs/sofas/taiti.jpg">
                            <a href="">Таити, модульный диван</a>
                        </div>
                        <!-- ========================================= -->
                        
                    </div>
                    <div id="corner_sofas" class="tab_content">
                        <div class="photo">
                            <img src="imgs/sofas/landau.jpg">
                            <a href="">Ландау, угловой диван</a>
                        </div>
                        <div class="photo">
                            <img src="imgs/sofas/london.jpg">
                            <a href="">Лондон, угловой диван</a>
                        </div>
                        <div class="photo">
                            <img src="imgs/sofas/taiti.jpg">
                            <a href="">Таити, модульный диван</a>
                        </div>
                    </div>
                    <div id="straight_sofas" class="tab_content">
                        <div class="photo">
                            <img src="imgs/sofas/isida.jpg">
                            <a href="">Исида, прямой диван</a>
                        </div>
                        <div class="photo">
                            <img src="imgs/sofas/garlem.jpg">
                            <a href="">Гарлем, прямой диван</a>
                        </div>
                        <div class="photo">
                            <img src="imgs/sofas/chianti.jpg">
                            <a href="">Кьянти, прямой диван</a>
                        </div>
                        <div class="photo">
                            <img src="imgs/sofas/macbeth.jpg">
                            <a href="">Макбет, прямой диван</a>
                        </div>
                    </div>
                    <div id="arc_sofas" class="tab_content">
                        <div class="photo">
                            <img src="imgs/sofas/mainardi.jpg">
                            <a href="">Майнарди, эркерный диван</a>
                        </div>
                        <div class="photo">
                            <img src="imgs/sofas/monp.jpg">
                            <a href="">Монплезир, эркерный диван</a>
                        </div>
                    </div>
                </div>        
            </div>
            <!-- =============HEAD TEXT============ -->
                <p class="headtext1">...кстати, а разве мы ещё не говорили, что делаем любую мягкую мебель?</p>
                <div class="otherimagesblock">
                    <div class="otherimage">
                        <img src="imgs/otherfurniture/1.jpg"><br>
                        <a href="/">диван</a>
                    </div>
                    <div class="otherimage">
                        <img src="imgs/otherfurniture/2.jpg"><br>
                        <a href="/">диван</a>
                    </div>
                    <div class="otherimage">
                        <img src="imgs/otherfurniture/3.jpg"><br>
                        <a href="/">кресло</a>
                    </div>
                    <div class="otherimage">
                        <img src="imgs/otherfurniture/4.jpg"><br>
                        <a href="/">диван-кровать</a>
                    </div>
                    <div class="otherimage">
                        <img src="imgs/otherfurniture/5.jpg"><br>
                        <a href="/">кровать</a>
                    </div>
                    <div class="otherimage">
                        <img src="imgs/otherfurniture/6.jpg"><br>
                        <a href="/">диван</a>
                    </div>
                    <div class="otherimage">
                        <img src="imgs/otherfurniture/7.jpg"><br>
                        <a href="/">изголовье для кровати</a>
                    </div>
                    <div class="otherimage">
                        <img src="imgs/otherfurniture/8.jpg"><br>
                        <a href="/">изголовье для кровати</a>
                    </div>
                    <div class="otherimage">
                        <img src="imgs/otherfurniture/9.jpg"><br>
                        <a href="/">диван</a>
                    </div>

                    <p>увидеть больше наших работ и узнать<br> как это делается можно здесь<a href="/"><img src="imgs/arrow.png"></a></p>
                </div>
                <br>
                <div class="bottomblock">
                    <p class="big">это интересно знать...</p>
                    <p class="medium">наш очень удобный блог</p>
                    <p class="small">Слово «диван» появилось не позднее XVI века и означало на фарси, на турецком и арабском языках сначала «исписанные листы бумаги» или «списки»[2], затем этим словом стали обозначать учётные книги, потом канцелярии и в конце концов типичную для подобных учреждений мебель — длинные скамьи с мягкой набивкой . 
                                     Каркас дивана — это спроектированная определённым образом конструкция, которая принимают основную часть нагрузки при эксплуатации изделия. Несущая часть состоит из деревянных деталей: брусков и досок. В основном, для изготовления данных несущих деталей применяются сосна, ель, берёза, ольха.</p>
                    <img src="imgs/book.jpg">
                    <p class="big">Вам всё понравилось, у Вас уже есть диван, но Вы всё равно хотите помочь нам стать ещё лучше ...</p>
                    <p class="medium">Ознакомьтесь с полным списком нащих вакансий, найдите<br> подходящую Вам, и мы будем рады видеть Вас в команде Sofa Store!</p>
                    <p class="medium_right">подробнее&nbsp;<a href="/"><img src="imgs/arrow.png"></a></p>
                </div>
            </div>
            
            
            <div class="rightblock">
                <div class="rightelement">
                    <img src="imgs/animation1.gif">
                </div> 
                <div class="rightelement">
                    <p class="rightheadtext">где мы это делаем...</p>
                    <p class="rightgraytext">с понедельника по пятницу: 9<sup>00</sup> - 18<sup>00</sup></p>
                    <img id="map_preview" src="imgs/map_preview.png">
                </div>
                <div class="rightelement">
                    <p class="rightheadtext">почему мы?</p>
                    <p class="rightorangetext">нет магазина</p>
                    <p class="rightgraytext">и сумасшедших трат на аренду</p>
                    <p class="rightorangetext">нет «одноразовых» диванов</p>
                    <p class="rightgraytext">диван на всю жизнь</p>
                    <p class="rightorangetext">бесплатный выезд менеджера</p>
                    <p class="rightgraytext">делает Вашу жизнь только легче</p>
                    <p class="rightorangetext">94 % покупателей рекомендует нас другим</p>
                    <p class="rightgraytext">81 % рекомендуют Мерседес</p>
                    <p class="rightorangetext">не довольны?</p>
                    <p class="rightgraytext">без проблем исправим или обменяем</p>
                </div>
                <div class="rightelement">
                    <p class="rightheadtext">хотите увидеть самое свежее и новое?</p>
                    <p class="rightgraytext">не теряйте время, смотрите наши новинки <a href="/">здесь...</a> </p>
                    <img src="imgs/rightminiphotos.png">
                </div>
                <div class="rightelement">
                    <p class="rightheadtext">мы очень серьезно относимся к выбору наших тканей!</p>
                    <p class="rightgraytext">нажмите <a href="/">сюда</a> и узнайте почему</p>
                    <img src="imgs/fabricsminiphoto.png">
                </div>
                <div class="rightelement">
                    <p class="rightheadtext">добавьте к любимому дивану интересную подушку</p>
                    <p class="rightgraytext">а лучше две, <a href="/">здесь</a> и сейчас</p>
                    <img src="imgs/pillow_animation.gif">
                </div>
                <div class="rightelement">
                    <p class="rightheadtext">лаборатория дизайна на sofa-store.ru</p>
                    <p class="rightgraytext"><a href="/">дизайнеры</a><br><a href="/">телепроекты</a><br><a href="/">идеи</a><br></p>
                    <img src="imgs/lab.png">
                </div>
                <div class="rightelement">
                    <p class="rightheadtext">нужна помощь в выборе дивана или кровати? </p>
                    <p class="rightgraytext">звоните нам +7  495 580 0625</p>
                    <img src="imgs/phonepic.png">
                    <p class="rightgraytext">или пишите info@sofa-store.ru</p>
                </div>
             </div>
        </div>
        <footer>
            <a href="">почему всё-таки мы?</a>
            <a href="">частые вопросы</a>
            <a href="">доставка и возврат</a>
            <a href="">наши вакансии</a>
            <a href="">Ваши отзывы</a>
            <a class="last" href="">связаться с нами</a>
        </footer>
   
  </body>
</html> 

sofa1/app/views/main/index.html.slim
= stylesheet_link_tag 'css/bigslider', :media=>'all'


script type = "text/javascript"
  | window.onload = function () {
  | init_tabs(); init_slider(); };

.container
  .leftblock
    #slider1.slider
      .slide_container
        .slide
          = link_to
            = image_tag 'sliderphotos/palermo.jpg'
          .description
            p.big Кресло-шезлонг «Палермо»
            p.small Кресло и шезлонг в одном.
        .slide
          a
            = image_tag 'sliderphotos/isida.jpg'
            .description
              p.big Прямой диван «Исида»
              p.small Прямой диван.
        .slide
          a
            = image_tag 'sliderphotos/abel.jpg'
            .description
              p.big Кресло «Абель»
              p.small Прямой диван.
      .arrows
        .arrow_left onclick = 'on_arrow_click(this)'
        .arrow_right onclick = 'on_arrow_click(this)'

    .tab_module
      ul
        li onclick="on_click_handler(this, 'all_sofas')" все<br>диваны
        li onclick="on_click_handler(this, 'corner_sofas')" угловые<br>диваны
        li onclick="on_click_handler(this, 'straight_sofas')" прямые<br>диваны
        li onclick="on_click_handler(this, 'all_sofas')" эркерные<br>диваны
        li onclick="on_click_handler(this, all_sofas)" модульные<br>диваны
        li onclick="on_click_handler(this, all_sofas)" студийные<br>диваны
        li onclick="on_click_handler(this, all_sofas)" кресла
        li onclick="on_click_handler(this, all_sofas)" кровати
        li onclick="on_click_handler(this, all_sofas)" стулья
        li class="last" onclick="on_click_handler(this, all_sofas)" пуфы
      .tab_content_box
        #all_sofas.tab_content
        #corner_sofas.tab_content
        #straight_sofas.tab_content
    p.headtext1 ...кстати, а разве мы ещё не говорили, что делаем любую мягкую мебель?
    .otherimagesblock
      .otherimage
        = image_tag 'otherfurniture/1.jpg'
        = link_to 'диван'
      p
        span увидеть больше наших работ и узнать<br> как это делается можно здесь&nbsp
        = link_to '/'
          = image_tag 'arrow.png'
    br
    .bottomblock
      p.big это интересно знать...
      p.medium наш очень удобный блог
      p.small Слово «диван» появилось не позднее XVI века и означало на фарси, на турецком и арабском языках сначала «исписанные листы бумаги» или «списки»[2], затем этим словом стали обозначать учётные книги, потом канцелярии и в конце концов типичную для подобных учреждений мебель — длинные скамьи с мягкой набивкой. Каркас дивана — это спроектированная определённым образом конструкция, которая принимают основную часть нагрузки при эксплуатации изделия. Несущая часть состоит из деревянных деталей: брусков и досок. В основном, для изготовления данных несущих деталей применяются сосна, ель, берёза, ольха.
      = image_tag 'book.jpg'
      p.big
      p.medium Ознакомьтесь с полным списком нащих вакансий, найдите<br> подходящую Вам, и мы будем рады видеть Вас в команде Sofa Store!
      p.medium_right
        span подробнее&nbsp
        = link_to '/'
          = image_tag 'arrow.png'

  .rightblock
    .rightelement
      = image_tag 'animation1.gif'
    .rightelement
      p.rightheadtext где мы это делаем...
      p.rightgraytext с понедельника по пятницу: 9<sup>00</sup> - 18<sup>00</sup>
      = image_tag 'map_preview.png'
    .rightelement
      p.rightheadtext почему мы?
      p.rightorangetext нет магазина
      p.rightgraytext и сумасшедших трат на аренду
      p.rightorangetext нет «одноразовых» диванов
      p.rightgraytext диван на всю жизнь
      p.rightorangetext бесплатный выезд менеджера
      p.rightgraytext делает Вашу жизнь только легче
      p.rightorangetext 94 % покупателей рекомендует нас другим
      p.rightgraytext 81 % рекомендуют Мерседес
      p.rightorangetext не довольны?
      p.rightgraytext без проблем исправим или обменяем
    .rightelement
      p.rightheadtext
        span хотите увидеть самое свежее и новое?
        span не теряйте время, смотрите наши новинки
        = link_to 'здесь...', '/'
        = image_tag 'rightminiphotos.png'
    .rightelement
      p.rightheadtext мы очень серьезно относимся к выбору наших тканей!
      p.rightgraytext
        span нажмите
        = link_to 'сюда'
        span и узнайте почему
        = image_tag 'fabricsminiphoto.png'
    .rightelement
      p.rightheadtext добавьте к любимому дивану интересную подушку
      p.rightgraytext
        span а лучше две,
        = link_to 'здесь'
        span  и сейчас
    .rightelement
      p.rightheadtext лаборатория дизайна на sofa-store.ru
      p.rightgraytext
        = link_to 'дизайнеры'
        br
        = link_to 'телепроекты'
        br
        = link_to 'идеи'
        br
    .rightelement
      p.rightheadtext нужна помощь в выборе дивана или кровати?
      p.rightgraytext звоните нам +7 495 580 0625
      = image_tag 'phonepic.png'
      p.rightgraytext или пишите info@sofa-store.ru
