sofa1/_html/contacts.html
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Контакты интернет-магазина «Sofa Store»</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="css/mainstyles.css" rel="stylesheet" media="screen">
        <link href="css/basketstyles.css" rel="stylesheet" media="screen">
        <link href="css/about_us.css" rel="stylesheet" media="screen">
        <link href="css/contacts.css" rel="stylesheet" media="screen">
        <link href="css/article.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <header>
            <img class="logo" src="./imgs/logo.png">
            <div class="basket">
                <img class="basketimage" src="imgs/basket.png">
                <p class="baskettext">Корзина (545454 руб)</p>
            </div>
            <p class="phonenumber">+7 (495) 580-06-25</p>
            <nav class="mainmenu">            
                    <a href="index.html">Главная</a>
                    <a href="about_us.html">О нас</a>
                    <a href="services.html">Услуги</a>
                    <a href="catalog.html">Каталог</a>
                    <a href="delivery.html">Доставка</a>
                    <a href="sale.html">Акция</a>
                    <a href="for_designers.html">Дизайнерам</a>
                    <a class="last" href="contacts.html">Контакты</a>
            </nav>
        </header>
        
        <div class="container">
            <div class="subcontainer">
                    <div class="contacts">
                        <p class="big">Контакты</p>
                        <img src="imgs/about_us/map.jpg">
                        <p class="normal">По любым вопросам Вы можете
                        связаться с нами по телефону 
                        в Москве +7(495) 580-06-25 
                        или написать нам на почтовый ящик 
                        info@sofa-store.ru</p>
                        <p class="normal">Мы находимся по адресу: 
                        М.О., г. Долгопрудный, 
                        ул.  Лётная, д.1</p>
                        <p class="normal">Время работы интернет-магазина:
                        понедельник-пятница: 
                        с 10.00 до 20.00
                        суббота-воскресенье: выходные</p>
                    </div>
                    <form class="feedback">
                        <p class="big">обратная связь</p>
                        <div class="left_side">
                            <p class="small">Ваше имя*</p>
                            <input type="text" name="name">
                            <p class="small">фамилия</p>
                            <input type="text" name="surname">
                            <p class="small">отчество</p>
                            <input type="text" name="patronymic">
                            <p class="small">контактный телефон*</p>
                            <input type="text" name="phone">
                            <p class="small">электронная почта</p>
                            <input type="text" name="email">
                        </div>
                        <div class="right_side">
                            <p class="small">Ваше сообщение</p>
                            <textarea id="message" name="message"></textarea>
                        </div>
                        <input id="feedback_button" type="image" src="imgs/about_us/call_button.jpg" alt="Вызвать менеджера">
                    </form>
                </div>
        </div>
        <footer>
            <a href="">почему всё-таки мы?</a>
            <a href="">частые вопросы</a>
            <a href="">доставка и возврат</a>
            <a href="">наши вакансии</a>
            <a href="">Ваши отзывы</a>
            <a class="last" href="">связаться с нами</a>
        </footer>
    </body>
</html>

sofa1/app/views/pages/contacts.html.slim

= about_us_styles
= stylesheet_link_tag "css/contacts"
= article_styles

.container
  .subcontainer
    .contacts
      p.big Контакты
      = image_tag 'about_us/map.jpg'
      p.normal По любым вопросам Вы можете
                                       связаться с нами по телефону
                                       в Москве: +7 (495) 580-06-25.
                                       Или написать нам на почтовый ящик
                                       info@sofa-store.ru
      p.normal Мы находимся по адресу: М.О., г. Долгопрудный, ул.  Лётная, д.1
      p.normal Время работы интернет-магазина: понедельник-пятница: с 10.00 до 20.00 суббота-воскресенье: выходные
    form.feedback controller="pages" action="send_feedback" method="post"
      /= pages_send_feedback_path
      p.big обратная связь
      .left_side
        p.small Ваше имя*
        input type="text" name="name"
        p.small фамилия
        input type="text" name="surname"
        p.small отчество
        input type="text" name="patronymic"
        p.small контактный телефон*
        input type="text" name="phone"
        p.small электронная почта
        input type="text" name="email"
      .right_side
        p.small Ваше сообщение
        textarea[id="message" name="message" ]
      input[id="feedback_button" type="image" alt="Вызвать менеджера" src="/assets/about_us/call_button.jpg"]

    /= form_for @feedbacks do |f|
    /  = f.text_field "name"
    /  = f.text_field "surname"
    /  = f.submit
