sofa1/_html/for_designers.html
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Для дизайнеров. Интернет-магазин «Sofa Store»</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="css/mainstyles.css" rel="stylesheet" media="screen">
        <link href="css/article.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <header>
            <img class="logo" src="./imgs/logo.png">
            <div class="basket">
                <img class="basketimage" src="imgs/basket.png">
                <p class="baskettext">Корзина (545454 руб)</p>
            </div>
            <p class="phonenumber">+7 (495) 580-06-25</p>
            <nav class="mainmenu">            
                    <a href="index.html">Главная</a>
                    <a href="about_us.html">О нас</a>
                    <a href="services.html">Услуги</a>
                    <a href="catalog.html">Каталог</a>
                    <a href="delivery.html">Доставка</a>
                    <a href="sale.html">Акция</a>
                    <a href="for_designers.html">Дизайнерам</a>
                    <a class="last" href="contacts.html">Контакты</a>
            </nav>
        </header>
        <div class="container">
            <div class="subcontainer">
                <p class="big">Дизайнерам</p>
                <p class="normal">От идеи до воплощения-всего один шаг!</p>
                <p class="normal">Компания Sofa Store приглашает к всестороннему сотруднечеству дизайнеров, архитекторов, визуализаторов. Мы предлагаем реализацию Ваших интересных проектов и самых смелых идей с полным участием нашего производства и лучших конструкторских решений. На сегодняшний день очень востребованно изготовление эксклюзивной мягкой мебели и мебели по индивидуальному заказу. Объединив наши возможности мы вместе прийдём к желаемому результату! Более подробно об изготовлении элитной мягкой мебели здесь.</p>
                <img src="imgs/for_designers/topimg.jpg">
                <p class="normal">Если у вам есть опыт работы в сфере моделирования и разработки мебели, у вас полно отменных идей, а папка с портфолио давно уже ищет выплеска в новую, отменную мебель или если у вас хорошо получается моделировать, рисовать от руки и грамотно словами объяснять что и как, мы готовы вас выслушать, посмотреть на вас и ваши работы!</p>
                <img src="imgs/for_designers/bottomimg.jpg">
                <p class="normal">Мы рады сотрудничеству по созданию новых изделий, работы с рисунками и чертежами. Наши возможности позволяют работать не только с существующим модельным рядом SofaStore, но и создавать оригинальные, эксклюзивные интерьеры в нашем конструкторском бюро и на наших производственных площадях.</p> 
                <p class="normal">Более подробную информацию о сотрудничестве, вы можете узнать по телефону +7 (495) 580-06-25</p>
            </div>
        </div>
        <footer>
            <a href="">почему всё-таки мы?</a>
            <a href="">частые вопросы</a>
            <a href="">доставка и возврат</a>
            <a href="">наши вакансии</a>
            <a href="">Ваши отзывы</a>
            <a class="last" href="">связаться с нами</a>
        </footer>
    </body>
</html>

sofa1/app/views/pages/for_designers.html.slim

= article_styles

.container
  .subcontainer
    p.big Дизайнерам
    p.normal От идеи до воплощения-всего один шаг!
    p.normal Компания Sofa Store приглашает к всестороннему сотруднечеству дизайнеров, архитекторов, визуализаторов. Мы предлагаем реализацию Ваших интересных проектов и самых смелых идей с полным участием нашего производства и лучших конструкторских решений. На сегодняшний день очень востребованно изготовление эксклюзивной мягкой мебели и мебели по индивидуальному заказу. Объединив наши возможности мы вместе прийдём к желаемому результату! Более подробно об изготовлении элитной мягкой мебели здесь.
    = image_tag 'for_designers/topimg.jpg'
    p.normal Если у вам есть опыт работы в сфере моделирования и разработки мебели, у вас полно отменных идей, а папка с портфолио давно уже ищет выплеска в новую, отменную мебель или если у вас хорошо получается моделировать, рисовать от руки и грамотно словами объяснять что и как, мы готовы вас выслушать, посмотреть на вас и ваши работы!
    = image_tag 'for_designers/bottomimg.jpg'
    p.normal Мы рады сотрудничеству по созданию новых изделий, работы с рисунками и чертежами. Наши возможности позволяют работать не только с существующим модельным рядом SofaStore, но и создавать оригинальные, эксклюзивные интерьеры в нашем конструкторском бюро и на наших производственных площадях.
    p.normal Более подробную информацию о сотрудничестве, вы можете узнать по телефону +7 (495) 580-06-25
