sofa1/_html/services.html
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="css/mainstyles.css" rel="stylesheet" media="screen">
        <link href="css/article.css" rel="stylesheet" media="screen">
    </head>
    <body>
       <header>
            <img class="logo" src="./imgs/logo.png">
            <div class="basket">
                <img class="basketimage" src="imgs/basket.png">
                <p class="baskettext">Корзина (545454 руб)</p>
            </div>
            <p class="phonenumber">+7 (495) 580-06-25</p>
            <nav class="mainmenu">            
                    <a href="index.html">Главная</a>
                    <a href="about_us.html">О нас</a>
                    <a href="services.html">Услуги</a>
                    <a href="catalog.html">Каталог</a>
                    <a href="delivery.html">Доставка</a>
                    <a href="sale.html">Акция</a>
                    <a href="for_designers.html">Дизайнерам</a>
                    <a class="last" href="contacts.html">Контакты</a>
            </nav>
        </header>
        <div class="container">
            <div class="subcontainer">
                <p class="big">Услуги</p>
                <p class="normal">
                    На сегодняшний день компания "Sofa Store" рада предложить Вам различные услуги в сфере изготовления мягкой мебели!
                </p>
                <p class="normal">1. Создание дизайн-проектов как полностью взятых интерьеров, так и отдельных единиц мягкой мебели, будь то диван, кресло, банкетка или кровать.</p>
                <p class="normal">2. Последующее изготовление эксклюзивных интерьеров и нестандартной эксклюзивной мягкой мебели.</p>
                <p class="normal">3. Изготовление мебели для баров, клубов, кафе, ресторанов и других помещений данной направленности.</p>
                <p class="normal">3. Изготовление мебели для баров, клубов, кафе, ресторанов и других помещений данной направленности.</p>
            </div>
        </div>
        <footer>
            <a href="">почему всё-таки мы?</a>
            <a href="">частые вопросы</a>
            <a href="">доставка и возврат</a>
            <a href="">наши вакансии</a>
            <a href="">Ваши отзывы</a>
            <a class="last" href="">связаться с нами</a>
        </footer>
    </body>
</html>

sofa1/app/views/pages/services.html.slim

= article_styles

.container
  .subcontainer
    p.big Услуги
    p.normal На сегодняшний день компания "Sofa Store" рада предложить Вам различные услуги в сфере изготовления мягкой мебели!
    p.normal 1. Создание дизайн-проектов как полностью взятых интерьеров, так и отдельных единиц мягкой мебели, будь то диван, кресло, банкетка или кровать.
    p.normal 3. Изготовление мебели для баров, клубов, кафе, ресторанов и других помещений данной направленности.
    p.normal 3. Изготовление мебели для баров, клубов, кафе, ресторанов и других помещений данной направленности.
