sofa1/_html/about_us.html
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>О нас. Интернет-магазин «Sofa Store»</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="css/mainstyles.css" rel="stylesheet" media="screen">
        <link href="css/basketstyles.css" rel="stylesheet" media="screen">
        <link href="css/about_us.css" rel="stylesheet" media="screen">
        <link href="css/reviewsstyles.css" rel="stylesheet" media="screen">
        <script type="text/javascript" src="js/tabs.js"></script>
        <script type="text/javascript">
            window.onload = function() {
                init_tabs();
            };
        </script>
    </head>
    <body>
        <header>
            <img class="logo" src="./imgs/logo.png">
            <div class="basket">
                <img class="basketimage" src="imgs/basket.png">
                <p class="baskettext">Корзина (545454 руб)</p>
            </div>
            <p class="phonenumber">+7 (495) 580-06-25</p>
            <nav class="mainmenu">            
                    <a href="index.html">Главная</a>
                    <a href="about_us.html">О нас</a>
                    <a href="services.html">Услуги</a>
                    <a href="catalog.html">Каталог</a>
                    <a href="delivery.html">Доставка</a>
                    <a href="sale.html">Акция</a>
                    <a href="for_designers.html">Дизайнерам</a>
                    <a class="last" href="contacts.html">Контакты</a>
            </nav>
        </header>
        <div class="tab_module">
            <ul>
                <li onclick="on_click_handler(this, 'whywe');">почему именно мы?</li>
                <li onclick="on_click_handler(this, 'payment_shipping');">заказ и доставка</li>
                <li onclick="on_click_handler(this, 'ourfabrics');">наши ткани</li>
                <li onclick="on_click_handler(this, 'callmanager');">вызов менеджера</li>
                <li onclick="on_click_handler(this, 'reviews');">отзывы наших покупателей</li>
                <li onclick="on_click_handler(this, 'contactus');" class="last">свяжитесь с нами!</li>
            </ul>
            <div class="tab_content_box">
                <div class="tab_content" id="whywe">dwcxwcx
                </div>
                <div class="tab_content" id="payment_shipping">
                    <p>
                        Доставка товара осуществляется в любую точку России при помощи транспортных компаний, работающих на территории страны.
                    </p>
                    <p>
                        Доставка товара из каталога в регионы, осущевствляеться только после 100% оплаты стоимости товара.
                    </p>
                    <img src="imgs/about_us/map_of_russia.jpg">
                    <p>
                    <p>Мягкая мебель: диван, диван и кресла, кресло, кровать</p>
                    <p>Доставка по Москве - 1000 рублей.</p>
                    <p>За пределы МКАД - 35 руб/км.</p>
                    <p>Подъём мебели - 200 рублей/этаж за каждую единицу товара (при наличии грузового лифта, оплачивается только первый и последний этаж подъёма).</p>
                    <p>Сборка мебели - бесплатно.</p>
                    <p>Для самовывоза свяжитесь с нашим менеджером по телефону 8 (495) 580-06-25.</p>
                    <img src="imgs/about_us/truck.jpg">

                </div>
                <div class="tab_content" id="ourfabrics"><p> И это далеко не полный список того, что можно создать нашими силами. По любым возникшим вопросам звоните нам по телефону в Москве +7(495) 580-06-25</p>
                </div>
                <div class="tab_content" id="callmanager">
                    <p>Визит менеджера - простота и удобство.</p>
                    <p>Вы уже знаете какой диван, кресло или кровать Вам бы хотелось видеть у себя дома! Как создать тот необходимый уют и комфорт Вашего дома, но всё равно появляются вопросы на которые Вы не находите ответа... "какая обивка подойдёт моему интерьеру, практичен ли выбор моей ткани, стоит ли использовать кожу на понравившийся мне диван? если да, то какую? их  же так много!..." Этим вопросам не бывает конца. И именно наши менеджеры помогут Вам в решении таких затруднительных ситуаций. А воспользовавшись нашей услугой "Визит Менеджера" Вы сэкономите массу сил и времени, не тратя их на, порой, бесполезные разъезды по многочисленным торговым центрам, в которых всё выглядит "как одно".</p>
                    <img src="imgs/about_us/topchair.jpg">
                    <p>Какие преимущества даёт "Визит Менеджера"?</p>
                    
                    <p>1. Экономит Ваше время: пердварительно созвонившись, наш сотрудник приедет к Вам в удобное для Вас время (возможны вечерние либо выходные дни), ответит на все Ваши вопросы, оформит заказ и примет оплату.</p>
                    <p>2. Позволяет убедиться в правильности Вашего выбора: наш менеджер привезет с собой обивочные материалы. Вы сможете внимательно, в спокойной обстановке, подобрать обивочный материал при Вашем домашнем освещении и интерьере.</p>
                    <p>3. Вы получаете информацию из первых рук: Каталоги диванов, прайс-листы, обивочные материалы и информация об их наличии всегда актуальны. Ваш заказ поступит на фабрику на следующий день после его оформления.</p>
                    <p>4. Избегаете неполадок с доставкой готовой мебели: Наш менеджер при необходимости производит замер помещений, межкомнатных проходов, дверных проемов. Это позволит убедиться в том, что при доставке мягкой мебели не возникнет непредвиденных ситуаций. При необходимости монтажа мебели, наш сотрудник даст рекомендации по её установке.</p>
                    <p>Условия пользования услугой "Визит Менеджера"</p>
                    <p>Чтобы воспользоваться услугой "Визит Менеджера" необходимо связаться с нами по телефону в Москве +7(495) 580-06-25 и договориться о встрече. Стоимость выезда нашего сотрудника по Москве и ближайшему Подмосковью составляет 1000 руб. При оформлении заказа эта сумма будет включена в стоимость изделия.</p>
                    <p>Не ждите! Звоните нам! Мы с нетерпением ждём Вашего звонка!</p>
                    <img src="imgs/about_us/fabrics.jpg">  
                    <p>Более подробную информацию о сотрудничестве, вы можете узнать по телефону 8 (495) 580-06-25 или у нас в офисе!</p>
                    
                    <form class="call_manager">
                        <p class="big">вызов менеджера</p>
                        <div class="left_side">
                            <p class="small">Ваше имя*</p>
                            <input type="text" name="name">
                            <p class="small">фамилия</p>
                            <input type="text" name="surname">
                            <p class="small">отчество</p>
                            <input type="text" name="patronymic">
                            <p class="small">контактный телефон*</p>
                            <input type="text" name="phone">
                            <p class="small">электронная почта</p>
                            <input type="text" name="email">
                        </div>
                        <div class="right_side">
                            <p class="small">адрес</p>
                            <!--<input type="text">-->
                            <textarea id="address" name="address"></textarea>
                            <p class="small">дополнительная информация</p>
                            <textarea id="additional_info" name="additional_info"></textarea>
                        </div>
                        <!--<a href="/"><img src="imgs/about_us/call_button.jpg"></a>-->
                        <input id="callmanager_button" type="image" src="imgs/about_us/call_button.jpg" alt="Вызвать менеджера">
                        
                    </form>
                </div>
                <div class="tab_content" id="reviews">
                    <form class="leavereview">
                        <div class="left_side">
                            <p class="small">Ваше имя*</p>
                            <input type="text" name="name">
                            <p class="small">фамилия</p>
                            <input type="text" name="surname">
                            <p class="small">отчество</p>
                            <input type="text" name="patronymic">
                            <p class="small">профессия*</p>
                            <input type="text" name="speciality">
                            <p class="small">возраст*</p>
                            <input type="text" name="age">
                            <p class="small">город*</p>
                            <input type="text" name="city">
                            <p class="small">название модели*</p>
                            <input type="text" name="model">
                            <p class="small">дата покупки*</p>
                            <input type="date" name="purchase_date">
                            <p class="small">контактный телефон*</p>
                            <input type="text" name="phone">
                            <p class="small">электронная почта</p>
                            <input type="text" name="email">
                        </div>
                        <div class="right_side">
                            <p class="small">Ваш отзыв*</p>
                            <textarea id="review" name="review"></textarea>
                            <input id="leave_review_button" type="image" src="imgs/about_us/call_button.jpg" alt="Отправить отзыв">
                        </div>
                    </form>
                    <p class="header_reviews">отзывы наших покупателей</p>
                    <div class="reviewsblock">
                        <div class="review">
                            <p class="header">«Исида», прямой диван</p>
                            <p class="reviwer">
                                Марина, 28 лет, психолог,  г. Москва<br>
                                диван куплен: декабрь 2010 года
                            </p>
                            <p class="comment">
                                Я очень довольна диваном Монплезир и продавцами,которые мне его рекомендовали. Огромное спасибо! 
                                С Уважением Екатерина Максимовна 
                            </p>
                            <p class="date">16.03.2013</p>
                        </div>
                        <div class="review">
                            <p class="header">«Исида», прямой диван</p>
                            <p class="reviwer">
                                Марина, 28 лет, психолог,  г. Москва<br>
                                диван куплен: декабрь 2010 года
                            </p>
                            <p class="comment">
                                Я очень довольна диваном Монплезир и продавцами,которые мне его рекомендовали. Огромное спасибо! 
                                С Уважением Екатерина Максимовна 
                            </p>
                            <p class="date">16.03.2013</p>
                        </div>
                        <div class="review">
                            <p class="header">«Исида», прямой диван</p>
                            <p class="reviwer">
                                Марина, 28 лет, психолог,  г. Москва<br>
                                диван куплен: декабрь 2010 года
                            </p>
                            <p class="comment">
                                Я очень довольна диваном Монплезир и продавцами,которые мне его рекомендовали. Огромное спасибо! 
                                С Уважением Екатерина Максимовна 
                            </p>
                            <p class="date">16.03.2013</p>
                        </div>
                    </div>
                </div>
                <div class="tab_content" id="contactus">
                    <div class="contacts">
                        <p class="big">контакты</p>
                        <img src="imgs/about_us/map.jpg">
                        <p>По любым вопросам Вы можете
                        связаться с нами по телефону 
                        в Москве +7(495) 580-06-25 
                        или написать нам на почтовый ящик 
                        info@sofa-store.ru</p>
                        <p>Мы находимся по адресу: 
                        М.О., г. Долгопрудный, 
                        ул.  Лётная, д.1</p>
                        <p>Время работы интернет-магазина:
                        понедельник-пятница: 
                        с 10.00 до 20.00
                        суббота-воскресенье: выходные</p>
                    </div>
                    <form class="feedback">
                        <p class="big">обратная связь</p>
                        <div class="left_side">
                            <p class="small">Ваше имя*</p>
                            <input type="text" name="name">
                            <p class="small">фамилия</p>
                            <input type="text" name="surname">
                            <p class="small">отчество</p>
                            <input type="text" name="patronymic">
                            <p class="small">контактный телефон*</p>
                            <input type="text" name="phone">
                            <p class="small">электронная почта</p>
                            <input type="text" name="email">
                        </div>
                        <div class="right_side">
                            <p class="small">Ваше сообщение</p>
                            <textarea id="message" name="message"></textarea>
                        </div>
                        <input id="feedback_button" type="image" src="imgs/about_us/call_button.jpg" alt="Вызвать менеджера">
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <a href="">почему всё-таки мы?</a>
            <a href="">частые вопросы</a>
            <a href="">доставка и возврат</a>
            <a href="">наши вакансии</a>
            <a href="">Ваши отзывы</a>
            <a class="last" href="">связаться с нами</a>
        </footer>
    </body>
</html>

sofa1/_html/about_us.slim
doctype
html
  head
    title
      | О нас. Интернет-магазин «Sofa Store»
    meta[http-equiv="Content-Type" content="text/html; charset=UTF-8"]
    link[href="css/mainstyles.css" rel="stylesheet" media="screen"]
    link[href="css/basketstyles.css" rel="stylesheet" media="screen"]
    link[href="css/about_us.css" rel="stylesheet" media="screen"]
    link[href="css/reviewsstyles.css" rel="stylesheet" media="screen"]
    script[type="text/javascript" src="js/tabs.js"]
    script[type="text/javascript"]
      |  window.onload = function() { init_tabs(); }; 
  body
    header
      img.logo[src="./imgs/logo.png"]
      .basket
        img.basketimage[src="imgs/basket.png"]
        p.baskettext
          | Корзина (545454 руб)
      p.phonenumber
        | +7 (495) 580-06-25
      nav.mainmenu
        a[href="index.html"]
          | Главная
        a[href="about_us.html"]
          | О нас
        a[href="services.html"]
          | Услуги
        a[href="catalog.html"]
          | Каталог
        a[href="delivery.html"]
          | Доставка
        a[href="sale.html"]
          | Акция
        a[href="for_designers.html"]
          | Дизайнерам
        a.last[href="contacts.html"]
          | Контакты
    .tab_module
      ul
        li[onclick="on_click_handler(this, 'whywe');"]
          | почему именно мы?
        li[onclick="on_click_handler(this, 'ordershipping');"]
          | заказ и доставка
        li[onclick="on_click_handler(this, 'ourfabrics');"]
          | наши ткани
        li[onclick="on_click_handler(this, 'callmanager');"]
          | вызов менеджера
        li[onclick="on_click_handler(this, 'reviews');"]
          | отзывы наших покупателей
        li.last[onclick="on_click_handler(this, 'contactus');"]
          | свяжитесь с нами!
      .tab_content_box
        #whywe.tab_content
          | dwcxwcx 
        #ordershipping.tab_content
          p
            |  Доставка товара осуществляется в любую точку России при помощи транспортных компаний, работающих на территории страны. 
          p
            |  Доставка товара из каталога в регионы, осущевствляеться только после 100% оплаты стоимости товара. 
          img[src="imgs/about_us/map_of_russia.jpg"]
          p

          p
            | Мягкая мебель: диван, диван и кресла, кресло, кровать
          p
            | Доставка по Москве - 1000 рублей.
          p
            | За пределы МКАД - 35 руб/км.
          p
            | Подъём мебели - 200 рублей/этаж за каждую единицу товара (при наличии грузового лифта, оплачивается только первый и последний этаж подъёма).
          p
            | Сборка мебели - бесплатно.
          p
            | Для самовывоза свяжитесь с нашим менеджером по телефону 8 (495) 580-06-25.
          img[src="imgs/about_us/truck.jpg"]
        #ourfabrics.tab_content
          p
            |  И это далеко не полный список того, что можно создать нашими силами. По любым возникшим вопросам звоните нам по телефону в Москве +7(495) 580-06-25
        #callmanager.tab_content
          p
            | Визит менеджера - простота и удобство.
          p
            | Вы уже знаете какой диван, кресло или кровать Вам бы хотелось видеть у себя дома! Как создать тот необходимый уют и комфорт Вашего дома, но всё равно появляются вопросы на которые Вы не находите ответа... "какая обивка подойдёт моему интерьеру, практичен ли выбор моей ткани, стоит ли использовать кожу на понравившийся мне диван? если да, то какую? их же так много!..." Этим вопросам не бывает конца. И именно наши менеджеры помогут Вам в решении таких затруднительных ситуаций. А воспользовавшись нашей услугой "Визит Менеджера" Вы сэкономите массу сил и времени, не тратя их на, порой, бесполезные разъезды по многочисленным торговым центрам, в которых всё выглядит "как одно".
          img[src="imgs/about_us/topchair.jpg"]
          p
            | Какие преимущества даёт "Визит Менеджера"?
          p
            | 1. Экономит Ваше время: пердварительно созвонившись, наш сотрудник приедет к Вам в удобное для Вас время (возможны вечерние либо выходные дни), ответит на все Ваши вопросы, оформит заказ и примет оплату.
          p
            | 2. Позволяет убедиться в правильности Вашего выбора: наш менеджер привезет с собой обивочные материалы. Вы сможете внимательно, в спокойной обстановке, подобрать обивочный материал при Вашем домашнем освещении и интерьере.
          p
            | 3. Вы получаете информацию из первых рук: Каталоги диванов, прайс-листы, обивочные материалы и информация об их наличии всегда актуальны. Ваш заказ поступит на фабрику на следующий день после его оформления.
          p
            | 4. Избегаете неполадок с доставкой готовой мебели: Наш менеджер при необходимости производит замер помещений, межкомнатных проходов, дверных проемов. Это позволит убедиться в том, что при доставке мягкой мебели не возникнет непредвиденных ситуаций. При необходимости монтажа мебели, наш сотрудник даст рекомендации по её установке.
          p
            | Условия пользования услугой "Визит Менеджера"
          p
            | Чтобы воспользоваться услугой "Визит Менеджера" необходимо связаться с нами по телефону в Москве +7(495) 580-06-25 и договориться о встрече. Стоимость выезда нашего сотрудника по Москве и ближайшему Подмосковью составляет 1000 руб. При оформлении заказа эта сумма будет включена в стоимость изделия.
          p
            | Не ждите! Звоните нам! Мы с нетерпением ждём Вашего звонка!
          img[src="imgs/about_us/fabrics.jpg"]
          p
            | Более подробную информацию о сотрудничестве, вы можете узнать по телефону 8 (495) 580-06-25 или у нас в офисе!
          form.call_manager
            p.big
              | вызов менеджера
            .left_side
              p.small
                | Ваше имя*
              input[type="text" name="name"]
              p.small
                | фамилия
              input[type="text" name="surname"]
              p.small
                | отчество
              input[type="text" name="patronymic"]
              p.small
                | контактный телефон*
              input[type="text" name="phone"]
              p.small
                | электронная почта
              input[type="text" name="email"]
            .right_side
              p.small
                | адрес
              textarea#address[name="address"]
              p.small
                | дополнительная информация
              textarea#additional_info[name="additional_info"]
            input#callmanager_button[type="image" src="imgs/about_us/call_button.jpg" alt="Вызвать менеджера"]
        #reviews.tab_content
          form.leavereview
            .left_side
              p.small
                | Ваше имя*
              input[type="text" name="name"]
              p.small
                | фамилия
              input[type="text" name="surname"]
              p.small
                | отчество
              input[type="text" name="patronymic"]
              p.small
                | профессия*
              input[type="text" name="speciality"]
              p.small
                | возраст*
              input[type="text" name="age"]
              p.small
                | город*
              input[type="text" name="city"]
              p.small
                | название модели*
              input[type="text" name="model"]
              p.small
                | дата покупки*
              input[type="date" name="purchase_date"]
              p.small
                | контактный телефон*
              input[type="text" name="phone"]
              p.small
                | электронная почта
              input[type="text" name="email"]
            .right_side
              p.small
                | Ваш отзыв*
              textarea#review[name="review"]
              input#leave_review_button[type="image" src="imgs/about_us/call_button.jpg" alt="Отправить отзыв"]
          p.header_reviews
            | отзывы наших покупателей
          .reviewsblock
            .review
              p.header
                | «Исида», прямой диван
              p.reviwer
                |  Марина, 28 лет, психолог, г. Москва
                br
                |  диван куплен: декабрь 2010 года 
              p.comment
                |  Я очень довольна диваном Монплезир и продавцами,которые мне его рекомендовали. Огромное спасибо! С Уважением Екатерина Максимовна 
              p.date
                | 16.03.2013
            .review
              p.header
                | «Исида», прямой диван
              p.reviwer
                |  Марина, 28 лет, психолог, г. Москва
                br
                |  диван куплен: декабрь 2010 года 
              p.comment
                |  Я очень довольна диваном Монплезир и продавцами,которые мне его рекомендовали. Огромное спасибо! С Уважением Екатерина Максимовна 
              p.date
                | 16.03.2013
            .review
              p.header
                | «Исида», прямой диван
              p.reviwer
                |  Марина, 28 лет, психолог, г. Москва
                br
                |  диван куплен: декабрь 2010 года 
              p.comment
                |  Я очень довольна диваном Монплезир и продавцами,которые мне его рекомендовали. Огромное спасибо! С Уважением Екатерина Максимовна 
              p.date
                | 16.03.2013
        #contactus.tab_content
          .contacts
            p.big
              | контакты
            img[src="imgs/about_us/map.jpg"]
            p
              | По любым вопросам Вы можете связаться с нами по телефону в Москве +7(495) 580-06-25 или написать нам на почтовый ящик info@sofa-store.ru
            p
              | Мы находимся по адресу: М.О., г. Долгопрудный, ул. Лётная, д.1
            p
              | Время работы интернет-магазина: понедельник-пятница: с 10.00 до 20.00 суббота-воскресенье: выходные
          form.feedback
            p.big
              | обратная связь
            .left_side
              p.small
                | Ваше имя*
              input[type="text" name="name"]
              p.small
                | фамилия
              input[type="text" name="surname"]
              p.small
                | отчество
              input[type="text" name="patronymic"]
              p.small
                | контактный телефон*
              input[type="text" name="phone"]
              p.small
                | электронная почта
              input[type="text" name="email"]
            .right_side
              p.small
                | Ваше сообщение
              textarea#message[name="message"]
            input#feedback_button[type="image" src="imgs/about_us/call_button.jpg" alt="Вызвать менеджера"]
    footer
      a[href=""]
        | почему всё-таки мы?
      a[href=""]
        | частые вопросы
      a[href=""]
        | доставка и возврат
      a[href=""]
        | наши вакансии
      a[href=""]
        | Ваши отзывы
      a.last[href=""]
        | связаться с нами
